{% extends 'base.html' %}

{% block head %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 10vh;">
    <title>Image Processing</title>
    <h1>Image Processing: INBest</h1>
    <h5>Author: Oscar Alberto Gallo Garcia</h5>
</div>
{% endblock %}

{% block body %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 10vh;">
    <h6>Welcome to Image Processing</h6>
    <div style="display: flex; gap: 1rem;">
        <a href="{{ url_for('auth.login') }}"><button>Login</button></a>
        <a href="{{ url_for('auth.register') }}"><button>Create User</button></a>
    </div>
</div>
{% endblock %}