{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block body %}
<div class="login-container">
    <title>Image Processing</title>
    <h2>Login</h2>
    <form id="loginForm">
        <input type="text" id="username" placeholder="User Name" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Submit</button>
    </form>
    <p class="error-message" id="errorMessage"></p>
</div>

{% block scripts %}
<script>
    // Tu código JS de login aquí (opcional moverlo a un archivo .js)
    document.getElementById('loginForm').addEventListener('submit', async (e) => {
        e.preventDefault();
    
    });
</script>
{% endblock %}
{% endblock %}